---
layout: base.njk
---

<article>
  <header>
    <h1>{{ title }}</h1>
    <div class="post-meta">
      <time class="post-date" datetime="{{ date | isoDate }}">
        {{ date | readableDate }}
      </time>
      {% if tags %}
      <span> &middot; </span>
      {% for tag in tags %}
        {% if tag != "post" %}
          <a href="/tags/{{ tag | slugify }}/" class="tag">#{{ tag }}</a>
        {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </header>

  {% if series %}
  {% set seriesItems = collections.posts | seriesPosts(series) %}
  {% if seriesItems.length > 1 %}
  <div class="callout callout-tip">
    {% if seriesMeta[series] %}
    <p><em>This is part of {{ seriesMeta[series].description }}</em>:</p>
    {% endif %}
    <ul>
    {% for post in seriesItems %}
      {% if not post.data.draft or post.page.url == page.url %}
      {% if post.page.url == page.url %}
        <li>&rarr; {{ post.data.series_title or post.data.title }}</li>
      {% else %}
        <li><a href="{{ post.page.url }}">{{ post.data.series_title or post.data.title }}</a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
    {% if seriesMeta[series].tagPage %}
    <p>All previous posts in this series can be found <a href="{{ seriesMeta[series].tagPage }}">here</a>.</p>
    {% endif %}
  </div>
  {% endif %}
  {% endif %}

  {{ content | safe }}

  {% if series %}
  {% set seriesItems = collections.posts | seriesPosts(series) %}
  {% if seriesItems.length > 1 %}
  {% set prevPost = null %}
  {% set nextPost = null %}
  {% set foundCurrent = false %}
  {% for post in seriesItems %}
    {% if post.page.url == page.url %}
      {% set foundCurrent = true %}
    {% elif not post.data.draft %}
      {% if not foundCurrent %}
        {% set prevPost = post %}
      {% elif not nextPost %}
        {% set nextPost = post %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if prevPost or nextPost %}
  <div class="callout callout-tip">
  <nav class="series-nav" aria-label="Series navigation">
    <div class="series-nav-prev">
      {% if prevPost %}
      <a href="{{ prevPost.page.url }}">&larr; {{ prevPost.data.series_title or prevPost.data.title }}</a>
      {% endif %}
    </div>
    <div class="series-nav-next">
      {% if nextPost %}
      <a href="{{ nextPost.page.url }}">{{ nextPost.data.series_title or nextPost.data.title }} &rarr;</a>
      {% endif %}
    </div>
  </nav>
  </div>
  {% endif %}
  {% endif %}
  {% endif %}
</article>
