---
layout: base.njk
title: Blog
permalink: /blog/
---

<h1>Recent Posts</h1>

Here I write about formal methods, low-level and concurrent systems, and
anything else I might find interesting.
<p/>
<hr/>

{% if collections.posts.length > 0 %}
<ul class="post-list">
  {% for post in collections.posts %}
  {% if not post.data.draft %}
  <li>
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <div class="post-meta">
      <time class="post-date" datetime="{{ post.date | isoDate }}">
        {{ post.date | readableDate }}
      </time>
    </div>
    <div class="post-excerpt">
    {% if post.data.excerpt %}
      {{ post.data.excerpt }}
    {% else %}
      <p>{{ post.templateContent | striptags | truncate(300) }}</p>
    {% endif %}
    </div>
    <p><a href="{{ post.url }}">Read more →</a></p>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% else %}
<p>No posts yet. Start writing!</p>
{% endif %}
