---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Nathan Taylor's blog (ntaylor.ca)</title>
  <subtitle>A blog about programming, theorem provers, and formal methods</subtitle>
  <link href="{{ metadata.url }}/feed.xml" rel="self"/>
  <link href="{{ metadata.url }}/"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}/</id>
  <author>
    <name>Nathan Taylor</name>
  </author>
  {%- for post in collections.posts | reverse %}
  {%- if not post.data.draft %}
  {%- set absolutePostUrl %}{{ post.url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endif %}
  {%- endfor %}
</feed>
